# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list/
tramp

# Extra
*.txt

# Build directories (CMake + Ninja)
/build/
/_build/
/CMakeCache.txt
/CMakeFiles/
/CMakeScripts/
/cmake_install.cmake
/install_manifest.txt
compile_commands.json

# Conan
/conan/
/conanfile.txt
/conan.lock
/conanbuildinfo.cmake
/conaninfo.txt
/.conan/

# Binaries and libraries
*.o
*.a
*.so
*.dll
*.exe
*.out
